@import 'variables';

html {
    background-color: $color-bg;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    line-height: 1.25;
    margin: 0 auto 0 auto;
    max-width: 90rem;
    padding: 0;
}

h1 {
    font-size: $spacing * 1.8;
    margin-top: 0;
}

h2 {
    font-size: $spacing * 1.3;
    margin-top: $spacing * 1.3;
}

h3 {
    font-size: $spacing * 1;
    margin-top: $spacing * 1;
}

h1,
h2,
h3 {
    margin-bottom: $spacing;
}

ul,
ol {
    line-height: 1.4;
    padding-left: $spacing * 1.45;
}

hr {
    opacity: 0.333;
}

blockquote {
    margin: 0;
    font-style: italic;
    opacity: 0.8;
}

nav {
    font-size: 0.9rem;
    margin: $spacing $spacing 0 $spacing;
    position: relative;
    text-transform: uppercase;
    z-index: 2;

    a {
        background-color: $color-fg;
        border: 1px solid $color-fg;
        border-radius: 0.15rem;
        color: $color-bg;
        float: right;
        font-weight: 500;
        margin-bottom: $spacing;
        padding: $spacing/2;
        text-decoration: none;

        &:not(:first-child):not(:last-child) {
            margin-left: $spacing;
        }

        &:first-child {
            float: left;
        }

//        &:visited,
        &:hover {
            background-color: $color-fg;
            color: $color-bg;
        }
    }

    &:after {
        content: '';
        clear: both;
        display: block;
    }
}

table {
    background-color: rgba(50, 50, 50, 0.1);
    border-collapse: separate;
    border-spacing: 1px;
    font-size: 66.7%;
    white-space: nowrap;
    width: 100%;

    th,
    td {
        padding: 3px;
    }

    tr {
        &:nth-child(even) {
            td {
                background-color: rgba(200, 200, 200, 0.1);
            }
        }
        &:nth-child(odd) {
            td {
                background-color: rgba(100, 100, 100, 0.1);
            }
        }
    }
}

.content {
    margin: $spacing;
    padding-bottom: 8rem; // Make it easier to read and tap when scrolled all the way down

    img {
        // Checkered background for loading and transparent images
        background-image:
          linear-gradient(45deg, #666 25%, transparent 25%),
          linear-gradient(45deg, transparent 75%, #666 75%),
          linear-gradient(45deg, transparent 75%, #666 75%),
          linear-gradient(45deg, #666 25%, #ccc 25%);    
        background-size: 20px 20px;       
        background-position:0 0, 0 0, -10px -10px, 10px 10px;

        box-sizing: border-box;

        margin: 0 auto;
        max-width: 100%;
    }

    a {
        background-color: $color-fg;
        border: 1px solid $color-fg;
        border-radius: 0.15rem;
        color: $color-bg;
        display: inline-block;
        font-size: calc(100% - 3px);
        margin-right: 1px;
        padding: 1px 2px;
        text-decoration: none;
        white-space: nowrap;

//        &:visited {
//            background-color: $color-bg;
//            color: $color-fg;
//        }

        &:hover {
            background-color: rgba($color-fg, 0.25);
            color: $color-fg;
        }

        // Hide anchor ID tags
        &:empty {
            font-size: 0;
            opacity: 0;
            padding: 0;
        }

        img {
            display: block;
        }
    }
}

.home {
    .big-links {
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
        width: 50%;

        a {
            border: none;
            font-weight: bold;
            margin: 0;
            opacity: 0.95;
            padding: 1rem;
            text-align: center;
            width: 25%;

            &:hover {
                opacity: 1;
            }

            &.printables {
                background-color: #eb6f40;
                color: #1c1c1c;
            }

            &.patreon {
                background-color: #fff;
                color: #000;
            }

            &.instagram {
                background-color: #61B4F8;
                color: #fff;
            }

            &.youtube {
                background-color: #f24730;
                color: #101010;
            }

            &.github {
                background-color: #0d1118;
                color: #fff;
            }

            &.email {
                background-color: #333;
                color: #fff;
            }
        }
    }
}

.gallery {
    & > div {
        display: flex;
        flex-wrap: wrap;

        & > div {
            align-items: center;
            display: flex;
            text-align: center;
            width: 25%;

            a,
            a:hover {
                background: none;
                border: none;
                margin: 0;
                padding: 0;
            }

            img {
                max-height: 95%;
                max-width: 95%;
            }
        }
    }
}

.inspirations {
    img {
        width: 33.333%;
        height: 25vh;
        object-fit: cover;
    }
}

/*
.logbook {
    display: flex;
    margin: 0;

    img {
        display: block;
        width: 50%;

        // Put a border around to separate images from website background
        border: solid mix($color-fg, $color-bg, 25%) 10px;
    }

    & > div {
        pointer-events: none;
        width: $captains-log-page-width-extra-large;

        // Background pages (left and right)
        &:first-child,
        &:last-child {
            & > div {
                & > a {
                    color: inherit;
                    display: block;
                    filter: blur(.3rem) grayscale(1);
                    opacity: .65;
                    text-decoration: none;
                    transition: filter .15s, opacity .15s;

                    &:hover {
                        filter: blur(.1rem) grayscale(.66);
                        opacity: .85;
                    }

//                    &:visited {
//                        color: inherit;
//                    }
                }
            }
        }

        // Current page (center)
        &:not(:first-child):not(:last-child) {
            & > div {
                box-shadow: 0 0 $spacing $color-bg;
                position: relative;
                z-index: 1;
            }
        }

        & > div {
            background-color: $color-bg;
            border-radius: $spacing / 4;
            overflow: hidden;
            padding-left: $spacing;
            padding-right: $spacing;
            pointer-events: auto;
        }
    }
}
*/

a.system-link {
    font-size: 125%;
    padding: 0.75rem;
}

// Laptops
@media (max-width: 120rem) {

    body {
        max-width: 80rem;
    }

    .logbook {
        & > div {
            width: $captains-log-page-width-large;

            // Current page (center)
            &:not(:first-child):not(:last-child) {
                margin-left: -((100% - $captains-log-page-width-large) / 2);
                margin-right: -((100% - $captains-log-page-width-large) / 2);
            }
        }
    }

}

// Tablets
@media (max-width: 70rem) {

    body {
        max-width: 70rem;
    }

    .home {
        .big-links {
            width: 100%;

            a {
                width: 45%;
            }
        }
    }

    .logbook {
        & > div {
            width: $captains-log-page-width-medium;

            // Background pages (left and right)
            &:first-child,
            &:last-child {
                & > div {
                    & > a {
                        // Make prev/next pages full height for the ease of navigation
                        height: 100%;
                    }
                }
            }

            // Current page (center)
            &:not(:first-child):not(:last-child) {
                margin-left: -(100% - $captains-log-page-width-medium / 2);
                margin-right: -(100% - $captains-log-page-width-medium / 2);
            }

            & > div {
                height: 100%; // Hide overlapping prev/next pages underneath
            }
        }
    }

}

// Smartphones
@media (max-width: 40rem) {

    nav {
        font-size: 0.7rem;
        margin: $spacing-small $spacing-small 0 $spacing-small;

        a {
            &:not(:first-child):not(:last-child) {
                margin-left: $spacing-small;
                margin-bottom: $spacing-small;
            }
        }
    }

    .content {
        margin: $spacing-small;
    }

    .gallery {
        & > div {
            & > div {
                width: 100%;

                img {
                    margin-bottom: $spacing-small;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    .inspirations {
        img {
            display: block;
            height: 50vh;
            object-fit: cover;
            width: 100%;
        }
    }

    .logbook {
        & > div {
            width: $captains-log-page-width-small;

            // Current page (center)
            &:not(:first-child):not(:last-child) {
                margin-left: -70%;
                margin-right: -70%;

                & > div {
                    box-shadow: 0 0 $spacing-small $color-bg;
                }
            }

            & > div {
                border-radius: $spacing-small / 4;
                padding-left: $spacing-small;
                padding-right: $spacing-small;
            }
        }
    }

}

// Dark mode
@media (prefers-color-scheme: dark) {

    html {
        background-color: $color-bg-dark;
    }

    nav {
        a {
            background-color: $color-fg-dark;
            border-color: $color-fg-dark;
            color: $color-bg-dark;

//            &:visited,
            &:hover {
                background-color: $color-fg-dark;
                color: $color-bg-dark;
            }
        }
    }

    .content {
        a {
            background-color: $color-fg-dark;
            border-color: $color-fg-dark;
            color: $color-bg-dark;

//            &:visited {
//                background-color: $color-bg-dark;
//                color: $color-fg-dark;
//            }

            &:hover {
                background-color: rgba($color-fg-dark, 0.25);
                color: $color-fg-dark;
            }
        }
    }

    .logbook {
        img {
            border-color: mix($color-fg-dark, $color-bg-dark, 25%);
        }

        & > div {
            & > div {
                background-color: $color-bg-dark;
            }

            // Current page (center)
            &:not(:first-child):not(:last-child) {
                & > div {
                    box-shadow: 0 0 $spacing $color-bg-dark;
                }
            }
        }
    }

    // Smartphones
    @media (max-width: 30rem) {

        .logbook {
            & > div {
                // Current page (center)
                &:not(:first-child):not(:last-child) {
                    & > div {
                        box-shadow: 0 0 $spacing-small $color-bg-dark;
                    }
                }
            }
        }

    }

}
